body{
    background-color: rgb(76, 178, 178);
}
.container{
    border: 10px solid rgb(234, 230, 138);
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    height:65vh;
    width: 80vh;
    margin:auto;
    background-color: rgb(234, 228, 228);
    padding: 10px;
    color: rgb(12, 12, 12);
}
button{
    height: 40px;
    background-color: rgb(234, 46, 46);
    color: white;
    margin: 20px;
    border: 2px solid rgb(10, 10, 10);
}
.quotes p, .quotes h3{
    font-size: 1.5rem;
} 